$backgroundColor: #faf8f0;
$circleTextColor: #ded8d1;

$nonActiveColor: #cec1b4;
$titleContainerBorderColor: #918c86;
$titleColor: #f29721;
$levelColor: #918c86;
$bottomTextColor: #918c86;

//Smallest Possible
$globalWidth: 90vw;
$titleSize: $globalWidth * 0.12;
$levelSize: $globalWidth * 0.07;
$titleContainerHeight: $globalWidth * 0.177;
$contentSpaceSize: 4vw;
$bottomTextSize: $globalWidth * 0.04;

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: $backgroundColor;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.space-above-title {
  height: 20px;
}

.global-width {
  width: $globalWidth;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $titleColor;
  font-size: $titleSize;
}

.level {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $levelColor;
  font-size: $levelSize;
}

.content-space-a {
  height: $contentSpaceSize;
}

.content-space-b {
  height: $contentSpaceSize / 2;
}

.github-link-text {
  color: $bottomTextColor;
  font-size: $bottomTextSize;
}

.github-link {
  color: $bottomTextColor;
  font-size: $bottomTextSize;
}

.center-text {
  text-align: center;
  margin: 0 auto;
}

.line-break {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid $bottomTextColor;
  margin: 1em 0;
  padding: 0;
}

.snack-bar-container {
  /* no select text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//Breakpoint to larger screens
$minWidth: 576px;

@media (min-width: $minWidth) {
  $globalWidth: $minWidth * 0.9;

  $titleSize: $globalWidth * 0.12;
  $levelSize: $globalWidth * 0.07;
  $titleContainerHeight: $globalWidth * 0.177;
  $circleTextSize: $globalWidth * 0.067;
  $contentSpaceSize: $minWidth * 0.04;
  $bottomTextSize: $globalWidth * 0.04;

  .global-width {
    width: $globalWidth;
  }

  .title {
    font-size: $titleSize;
  }

  .level {
    font-size: $levelSize;
  }

  .content-space-a {
    height: $contentSpaceSize;
  }

  .content-space-b {
    height: $contentSpaceSize / 2;
  }

  .github-link-text {
    font-size: $bottomTextSize;
  }

  .github-link {
    font-size: $bottomTextSize;
  }
}
