$backgroundColor: #247ba0;
$circleTextColor: #247ba0;

$nonActiveColor: #ffb682;
$titleContainerColor: #ffe066;
$titleColor: #247ba0;
$bottomTextColor: #ffe066;

//Smallest Possible
$globalWidth: 90vw;
$titleSize: $globalWidth * 0.13;
$titleContainerHeight: $globalWidth * 0.177;
$contentSpaceSize: 4vw;
$bottomTextSize: $globalWidth * 0.04;

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: $backgroundColor;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.global-width {
  width: 90vw;
  margin: 0 auto;
}

.title-container {
  margin: 0 auto;
  width: 90vw;
  height: $titleContainerHeight;
  background-color: $titleContainerColor;
  border-radius: 20px;
  margin-top: 20px;
}

.title {
  text-align: center;
  color: $titleColor;
  font-size: $titleSize;
}

.content-space {
  height: $contentSpaceSize;
}

.github-link-text {
  text-align: center;
  color: $bottomTextColor;
  font-size: $bottomTextSize;
}

.github-link {
  color: $bottomTextColor;
  font-size: $bottomTextSize;
}

//Breakpoint to larger screens
$minWidth: 576px;

@media (min-width: $minWidth) {
  $globalWidth: $minWidth * 0.9;

  $titleSize: $globalWidth * 0.13;
  $titleContainerHeight: $globalWidth * 0.177;
  $circleTextSize: $globalWidth * 0.067;
  $contentSpaceSize: $minWidth * 0.04;
  $bottomTextSize: $globalWidth * 0.04;

  .global-width {
    width: $globalWidth;
    margin: 0 auto;
  }

  .title-container {
    width: $globalWidth;
    height: $titleContainerHeight;
    background-color: $titleContainerColor;
  }

  .title {
    font-size: $titleSize;
  }

  .content-space {
    height: $contentSpaceSize;
  }

  .github-link-text {
    font-size: $bottomTextSize;
  }

  .github-link {
    font-size: $bottomTextSize;
  }
}
