body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #247ba0;
}

.app {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.game-board {
  width: 232.8px;
  height: 207.8px;
  background-color: #247ba0;
  border-radius: 25px;
}

.game-row {
  width: 90%;
  height: 80.34%;
  background-color: #247ba0;
  border-radius: 25px;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.horizontal-space {
  width: 1%;
  height: 1px;
  float: left;
}

.vertical-space {
  width: 1%;
  height: 4px;
  float: top;
}

.circle {
  background-color: #ffb682;
  color: #247ba0;
  text-align: center;
  line-height: 19.33%;
  border-radius: 19.33%;
  font-size: 30px;
  padding-top: 19.33%;
  height: 19.33%;
  float: left;
  /* no select text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  text-align: center;
  color: #ffe066;
  font-size: 50px;
}

.content-space {
  height: 30px;
}

.github-link-text {
  text-align: center;
  color: #ffe066;
}

.github-link {
  color: #ffe066;
}

/* @media (max-width: 500px) {
    .game-board {
      width: 400.0px;
      height: 340px;
    }
    .circle {
      width: 80.67px;
      height: 80.67px;
    }
    .game-row {
      width: 335.418px;
      height: 80.67px;
    }
    .horizontal-space {
      width: 4.245;
      height: 
    }
  
    .vertical-space {
      width:
      height:
    }
  } */
